*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}

#img-tea, #img-sandwich {
	padding-bottom: 2rem;

	@include respond(tab-port) {
        padding-bottom: 1rem;
    }
}

.roots-col {
	padding-bottom: 4rem;
}