body {
	font-family: "Cresta", sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 3rem;
}

.heading-primary {
	visibility: hidden;
}

.heading-secondary {
	text-align: center;
    margin-top: 6rem;
    font-size: 3rem;
    font-weight: lighter;
}

.heading-secondary2 {
    text-align: left;
    font-size: 4rem;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.heading-tertiary {
	font-size: 3rem;
    font-weight: lighter;
    margin-top: 2rem;
    text-transform: uppercase;
}

.heading-tertiary2 {
    text-align: left;
    font-size: 2rem;
    margin-top: 4rem;
    letter-spacing: .2rem;
    padding-top: 3rem;
    text-transform: uppercase;
}

.paragraph {
	text-align: center;
    font-size: 2rem;
    padding: 1% 5%;
    line-height: 3rem;
}

.paragraph2 {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: lighter;
}

.paragraph-redirect {
	text-align: left;
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.quote-primary {
	text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}

.quote-secondary {
	text-align: right;
    font-size: 3rem;
    padding: 3rem 8rem;
}

.menu-title {
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: .1rem;
}

.menu-price {
    font-size: 2rem;
    font-style: italic;
    text-transform: lowercase;
    padding-bottom: 3rem;
}

.menu-item {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    list-style: none;
}

.menu-description {
    padding-bottom: 3rem;
    letter-spacing: .2rem;
}