body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: normal;
	padding: 2rem;
}

.heading-primary {
	visibility: hidden;
}

.heading-secondary {
	text-align: center;
    margin-top: 6rem;
    font-size: 3rem;
    font-weight: lighter;
}

.heading-tertiary {
	font-size: 3rem;
    font-weight: lighter;
    margin-top: 2rem;
    text-transform: uppercase;
}

.paragraph {
	text-align: center;
    font-size: 2rem;
    padding: 1% 5%;
    line-height: 3rem;
}

.paragraph-redirect {
	text-align: left;
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.quote-primary {
	text-align: center;
    font-size: 4rem;
    font-weight: lighter;
}

.quote-secondary {
	text-align: right;
    font-size: 3rem;
    padding: 3rem 8rem;
}